
.vs/
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

Binaries/*
Intermediate/*
Plugins/**/Binaries/*
Plugins/**/Intermediate/*
DerivedDataCache/*
Build/*
Saved/*
Content/StarterContent/*